@let _store = store();
@let _isLoading = _store.isLoading();
@let _rows = _store.entities();
@let _configuration = configuration();

<section class="__grid">
  <header>
    @let _headerRef = headerRef();
    @if (_headerRef) {
      <section class="__header">
        <ng-container *ngTemplateOutlet="_headerRef"></ng-container>
      </section>
    }
    @if (_configuration.showRefresh || _configuration.canExport || _configuration.canFullscreen) {
      <div class="__common">
        @if (_configuration.showRefresh) {
          <button class="oiq-button oiq-button--link __tool" (click)="_store.refresh()">
            <span class="material-symbols-outlined">refresh</span>
          </button>
        }
        @if (_configuration.canExport) {
          <button class="oiq-button oiq-button--link __tool" (click)="downloadCsv()">
            <span class="material-symbols-outlined">download</span>
          </button>
        }
        @if (_configuration.canFullscreen) {
          <button class="oiq-button oiq-button--link __tool" (click)="toggleFullScreen()">
            <span class="material-symbols-outlined">{{
              isFullScreen ? 'fullscreen_exit' : 'fullscreen'
            }}</span>
          </button>
        }
      </div>
    }
  </header>

  <main>
    <table
      class="oiq-table"
      [class.__bordered]="_configuration.bordered"
      [class.__bordered-cells]="_configuration.borderedCells"
      [class.__bordered-headers]="_configuration.borderedHeaders"
      [class.__bordered-vertical]="_configuration.borderedVertical"
      [class.__striped]="_configuration.striped"
      [class.__colored]="_configuration.colored"
    >
      @if (headerColumnsRef(); as _headerColumnsRef) {
        <thead>
          <ng-container *ngTemplateOutlet="_headerColumnsRef"></ng-container>
        </thead>
      }
      <tbody>
        @if (_isLoading) {
          <tr>
            <td [attr.colspan]="'100%'" class="__loading">Loading...</td>
          </tr>
        } @else if (!_rows || !_rows.length) {
          <tr>
            <td [attr.colspan]="'100%'">
              @let _noItemsRef = noItemsRef();
              @if (_noItemsRef) {
                <ng-container *ngTemplateOutlet="_noItemsRef"></ng-container>
              } @else {
                <div class="__empty">
                  <div>
                    <i class="ph ph-inbox"></i>
                    <h4>{{ _configuration.noItemsTitle }}</h4>
                    <p>{{ _configuration.noItemsMessage }}</p>
                  </div>
                </div>
              }
            </td>
          </tr>
        } @else {
          @let _rowRef = rowRef();
          @for (row of _rows; track trackByFn(i, row); let i = $index) {
            <ng-container
              *ngTemplateOutlet="_rowRef; context: { $implicit: row, idx: i }"
            ></ng-container>
          }
        }
      </tbody>
      @if (footerColumnsRef(); as _footerColumnsRef) {
        <tfoot>
          <ng-container *ngTemplateOutlet="_footerColumnsRef"></ng-container>
        </tfoot>
      }
    </table>
  </main>

  <footer>
    @if (_store.pagination().totalPages > 0) {
      <kim-pagination
        [currentPage]="_store.pagination().page"
        [totalItems]="_store.pagination().totalItems"
        [pageSize]="_store.pagination().size"
        (pageChange)="null"
      />
    }
    @let _footerRef = footerRef();
    @if (_footerRef) {
      <div class="__footer">
        <ng-container *ngTemplateOutlet="_footerRef"></ng-container>
      </div>
    }
  </footer>
</section>
