  <sdk-table [store]="store">
    <ng-template #header let-onAdd="onAdd">
      <h2>Users</h2>
      <button type="button" (click)="onAdd()">Add User</button>
    </ng-template>
    <ng-template #headerColumns>
      <th>id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
      <th></th>
    </ng-template>

    <ng-template #row let-user let-onEdit="onEdit" let-onDelete="onDelete">
      <tr>
        <td>{{ user.id }}</td>

        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <span class="badge" [class]="'badge--' + user.role">{{ user.role }}</span>
        </td>
        <td>
          <span class="status" [class]="'status--' + user.status">{{ user.status }}</span>
        </td>
        <td class="actions-cell">
          <button class="btn-edit" type="button" (click)="onEdit(user)">Edit</button>
          <button class="btn-delete" type="button" (click)="onDelete(user.id)">Delete</button>
        </td>
      </tr>
    </ng-template>

    <ng-template #form let-entity="entity" let-onSave="onSave" let-onCancel="onCancel">
      <kim-user-form
        [user]="entity"
        (saved)="onSave($event)"
        (cancelled)="onCancel()"
      />
    </ng-template>
  </sdk-table>
